# This is the default ansible 'hosts' file.
#
# It should live in /etc/ansible/hosts
#
#   - Comments begin with the '#' character
#   - Blank lines are ignored
#   - Groups of hosts are delimited by [header] elements
#   - You can enter hostnames or ip addresses
#   - A hostname/ip can be a member of multiple groups
#
# How to run:
#
# ansible-playbook -i hosts.example -u <username> -k playbooks/ibm-domino-complete.yml
#

[domino-servers]
domserver01.company.com
domserver02.company.com
domserver03.company.com



[all:vars]
domino_install_location=/opt/IBM/domino
#
domino_repository_url=http://192.168.1.1/domino/9.x/
domino_version=90010
domino_bin_file=DOMINO_9.0.1_64_BIT_LIN_XS_EN.tar
domino_bin_file_sha256=9f5f941ec43ca268197cb1250a2677630789a4efeca73d38d69ebecd7d32870a
#
domino_fp_repository_url=http://192.168.1.1/domino/9.x/
domino_fp_version=901FP10
domino_fp_bin_file=domino901FP10_linux64_x86.tar
domino_fp_bin_file_sha256=d0575e4be7d2c78d0b557c99db8bf08e754c52128e076a3ad1a46e85b7f8f2c0
#
#domino_fp_version=901FP9"
#domino_fp_bin_file=domino901FP9_linux64_x86.tar"
#domino_fp_bin_file_sha256=25020ea0640dbf9b8cd98c7ef82a5019e93a86cdc64d27f3ae15d277957bd306